*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

header {
    height: 4em;
}

.container {
    display: table;
    width: 100%;
    padding-top: 3%;
}

.list-container {
    /* center verticaly */
    display: table-cell;
    vertical-align: middle;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
    width: 100%;
    height: max-content;
    min-height: 3em;
    padding: 0 8px;
    border-bottom: 1px solid grey;

    /* center verticaly */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: larger;
    font-weight: bold;
}

input.add-input {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: large;
}

.clear-list {
    padding: 0 35%;
    background-color: aliceblue;
    font-weight: 500;
    font-size: large;
}

.clear-list a {
    color: black;
}